<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ManageDormitoryEntities" connectionString="metadata=res://*/Models.ManageDormitoryModel.csdl|res://*/Models.ManageDormitoryModel.ssdl|res://*/Models.ManageDormitoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-PC\TKEY;initial catalog=ManageDormitory;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>